<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide</title>
    <!-- <link rel="stylesheet" href="{% static '91.css' %}"/> -->
    <link rel="stylesheet" href="{% static '91.css' %}"/>
    <link rel="icon" href="{% static 'icon505.png' %}">

<body>
    <main class="main">
        <header class="header">
            <a href="index.html" class="logo"  onclick=location.href = 'Project.html';" id="myButton">BQ</a>


            <nav class="navbar">
                <a href="{% url 'home' %}">Profile</a>
               
            </nav>
        </header>
    

        
              <div class="container" style="margin-left: 675px;">
        <section class="home"  >
            <div class="home-content">
                <h1>Guide</h1>
                <p>Select the a topic and press start.Select the correct option & press submit.Press the next button to move over to the next quesiton.Remember all the premade quizes have a 15 second timer on every question after which the question will be skipped</p>
                <button class="start-btn" onclick="location.href = '{% url 'quizselection' %}';" id="myButton" style="padding-left: 10px;padding-right: 10px;">Begin</button>
                <!-- <a class="start-btn" style="padding-left: 10px;padding-right: 10px;text-align: center;"
                href="{% url 'quizselection' %}">Go to Quiz Selection</a> -->
            </section>
        </div>
</body>
</html>