<!DOCTYPE html>
<html lang="en">
<head>  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Modified-->
    <!-- <link rel="stylesheet" href="{% static '91.css' %}"/> -->
    <link rel="stylesheet" href="{% static '91.css' %}"/>
    <link rel="icon" href="{% static 'icon505.png' %}">

</head>
<body>
     <main class="main">
        <header class="header">
            <a href="{% url 'index' %}" class="logo"  onclick=location.href = 'Project.html';" id="myButton">BQ</a>


            <nav class="navbar">
                <a href="{% url 'index' %}">Go back</a>
               
            </nav>
        </header>
    
    <div class="container" style="margin-left: 675px;">
        <section class="home"  >
            <div class="home-content">
   
    <h2>Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="display: flex; justify-content: center;">
            <button class="start-btn" type="submit">Login</button>
        </div>
    </form>
</body>
</html>
